@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */

    background-color: darkslategrey;
}

body::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Playfair Display', serif;
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 60px;
    background-color: black;
    color: white;
}

nav ul li {
    padding: 0 12px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.brand img {
    width: 44px;
    padding: 0 8px;
}

nav a {
    text-decoration: none;
    color: white;
}

.container {
    height: 100%;
    background-color: black;
    color: white;
    font-family: 'Lora', serif;
    display: flex;
    width: 80%;
    margin: 23px auto;
    padding: 34px;
    border-radius: 12px;
    background-image: url("assets/images/bg1.jpg");
}

.songItemContainer {
    margin-top: 50px;
}

.songItem {
    height: 50px;
    background-color: white;
    display: flex;
    width: 100%;
    color: black;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
    border-radius: 10px;
}

.songItem img {
    width: 40px;
    margin: 0 23px;
    border-radius: 50%;
}

.songItem i {
    margin-right: 20px;
    cursor: pointer;
}

.timestamp {
    margin: 0 10px;
}

.bottom {
    position: sticky;
    bottom: 0;
    height: 85px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.icons {
    margin-top: 14px;
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.icons i {
    cursor: pointer;
}

#myProgressBar {
    width: 80vw;
    cursor: pointer;
    position: absolute;
    bottom: 70px;

    /* range bar styles */

    /* for chrome */
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}

                        /***** Track Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
#myProgressBar::-webkit-slider-runnable-track {
    background: red;
    height: 7px;
    border-radius: 10px;
  }
  
  /******** Firefox ********/
  #myProgressBar::-moz-range-track {
    background: red;
    height: 7px;
    border-radius: 10px;
  }

  /***** Thumb Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
#myProgressBar::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -5px; /* Centers thumb on the track */
    background-color: red;
    height: 17px;
    width: 17px;
    border-radius: 50%; 
    border: 0.1px solid orangered;   
 }

/***** Firefox *****/
#myProgressBar::-moz-range-thumb {
    border: 0.1px solid orangered;
    border-radius: 50%;
    background-color: red;
    height: 17px;
    width: 17px;
}

/***** Focus Styles *****/
/* Removes default focus */
#myProgressBar:focus {
    outline: none;
  }
  
  /***** Chrome, Safari, Opera, and Edge Chromium *****/
  #myProgressBar:focus::-webkit-slider-thumb {
    border: 0.1px solid red;
    outline: 0.8px solid red;
    outline-offset: 0.15rem;
  }
  
  /******** Firefox ********/
  #myProgressBar:focus::-moz-range-thumb {
    border: 0.1px solid red;
    outline: 0.8px solid red;
    outline-offset: 0.15rem;     
  }

#currTime {
    position: absolute;
    left: 7vw;
    bottom: 65px;
    font-size: 16px;
}

#totDuration {
    position: absolute;
    right: 7vw;
    bottom: 65px;
    font-size: 16px;
}

.songInfo {
    position: absolute;
    left: 7vw;
    bottom: 25px;
    font-family: 'Playfair Display', serif;
}

/* Media Queries */

@media screen and (max-width: 1350px) {
    #currTime {
        left: 6vw;
    }

    #totDuration {
        right: 6vw;
    }
}

@media screen and (max-width: 1000px) {
    #currTime {
        left: 5vw;
    }

    #totDuration {
        right: 5vw;
    }

    .icons {
        position: absolute;
        right: 7vw;
        bottom: 20px;
    }
}

@media screen and (max-width: 800px) {
    #currTime {
        left: 4vw;
    }

    #totDuration {
        right: 4vw;
    }
}

@media screen and (max-width: 650px) {
    #currTime {
        left: 3vw;
    }

    #totDuration {
        right: 3vw;
    }
}

@media screen and (max-width: 550px) {
    #currTime {
        left: 2vw;
    }

    #totDuration {
        right: 2vw;
    }

    .songInfo {
        left: 5vw;
        width: 50%;
        min-width: 170px;
        height: 25px;
        overflow: hidden;
    }

    #masterSongName {
        /* animation properties */
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);

        -moz-animation: my-animation 15s linear infinite;
        -webkit-animation: my-animation 15s linear infinite;
        animation: my-animation 10s linear infinite;
    }
}

@media screen and (max-width: 475px) {
    #currTime {
        left: 0vw;
        margin-left: 5px;
    }

    #totDuration {
        right: 0vw;
        margin-right: 5px;
    }
}

@media screen and (max-width: 450px) {
    #myProgressBar {
        width: 90vw;
        bottom: 75px;
    }

    #currTime {
        bottom: 55px;
        left: 4vw;
    }

    #totDuration {
        bottom: 55px;
        right: 4vw;
    }
}

/* Animations */

/* for Firefox */
@-moz-keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
    }
}

/* for Chrome */
@-webkit-keyframes my-animation {
    from {
        -webkit-transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}